{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %} {% endblock %}
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'account/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'account/css/main.css' %}" />
  </head>
  <body>
    <div class="container main-div text-center my-5 py-5">
      {% block content %} {% endblock %} {% block extra_body %} {% endblock %}
    </div>
    <script src="{% static 'asset/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
