{% extends "account/base.html" %} {% block head_title %}Sign In{% endblock %} 
{% block content %}
<div class="container text-center mt-0 pt-0">
  <h1 class="auth-header">Sign In</h1>

  <form
    class="my-3 py-3 login"
    method="POST"
    action="{% url 'account_login' %}"
  >
    {% csrf_token %} {{ form.as_p }}
    <a
      class="button mx-2 px-1 secondaryAction"
      href="{% url 'account_reset_password' %}"
      >Forgot Password?/Change Password?</a
    >
    
    <button class="btn btn-danger" type="submit">Sign In</button>
  </form>
</div>
{% endblock %}
