{% extends 'asset/base.html' %} {% load static %} {% block title %} Data
Approval {% endblock %} {% block body %}

<h4 class="heading">Asset Approval</h4>

<section class="container-fluid">
  <div class="container-fluid d-flex justify-content-center">
    <div>{% include 'asset/approval/form.html' %}</div>
  </div>
  <div class="container text-center">
    <h5 class="mt-5">No record found with that serial Number!!!</h5>
    <p>OR</p>
    <h5>Record Already Approved By ICT Manager!!!</h5>
  </div>
</section>

{% endblock %}
