{% extends 'asset/base.html' %}
{% load static %}

{% block title %}
Asset Relocation
{% endblock %}

{% block body %}

<!-- change ownership form-->
<h4 class="heading">Relocate Asset</h4>

<div class="container-fluid">
  <div class="container-fluid d-flex justify-content-center">
    <form action="{% url 'rel' %}" method="post" class="form-inline" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="asset-type" id="label" required>Search By:</label>
      <select class="form-control" id="asset-type" name="criteria" required>
        <option value="serial_no">Serial Number</option>
      </select>
      <label for="serial" id="label" required>Entry:</label>
      <input type="text" class="form-control" id="serial" name="entry" required>
      <button type="submit" class="btn btn-info" id="label">Search</button>
    </form>
  </div>
  <div class="container-fluid mt-3" style="border-top:1px solid black;">
    <h6 style="text-align: center; color:brown;">Current Location</h6>
    <table class="table table-bordered ">
      <thead class="thead-light">
        <tr style="font-size: 11px;">
          <th>Current Owner</th>
          <th>P/No.</th>
          <th>Region</th>
          <th>Station</th>
          <th>Location</th>
          <th>Dept/Division</th>
          <th>Section</th>
          <th>HOD</th>
          <th>Asset Type</th>
          <th>Asset S/NO.</th>
          <th>Comp Name</th>
          <th>Monitor S/NO.</th>
          <th>Date Assigned</th>
          <th>Condtion</th>
        </tr>
      </thead>
      <tbody>
        <tr style="font-size: 11px;">
          <td>{{data.client.full_name}}</td>
          <td>{{data.client.staff_number}}</td>
          <td>{{data.region.name}}</td>
          <td>{{data.station.name}}</td>
          <td>{{data.client.location}}</td>
          <td>{{data.client.department}}</td>
          <td>{{data.client.section}}</td>
          <td>{{data.client.hod.hod_name}}</td>
          <td>{{data.assettype.name}}</td>
          <td>{{data.asset_serial}}</td>
          <td>{{data.cpu_name}}</td>
          <td>{{data.monitor.monitor_serial}}</td>
          <td>{{data.client.date_assigned}}</td>
          <td>{{data.condition}}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div>
    <h6 style="text-align: center; color:brown;">New Location</h6>
    <form method="post" action="{% url 'rel_back' %}" style="font-size: 12;"
          enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row"
           style="margin-left:1.5%;border:1px solid black; padding-top: 1%; font-size: 12px; margin-right:1%;">
        <div class="form-group">
          <input type="hidden" name="serial" value="{{data.asset_serial}}">
        </div>

        <div class="form-group" style="margin-left: 1%;">
          <label style="font:bolder;">Dept/Division: <span class="required">*</span></label>
          <input type="text" name="dept" required>
        </div>
        <div class="form-group" style="margin-left: 1%;">
          <label style="font:bolder;">Section: <span class="required">*</span></label>
          <input type="text" name="section" required>
        </div>
        <br>
        <br>
        <div class="form-group" style="margin-left: 1%;margin-right: 1%;">
          <label for="asset-type" id="label">New Region: <span class="required">*</span></label>
          <select id="region" name="region" required>
            <option value="">----------------------------------</option>
          </select>

        </div>
        <div class="form-group" style="margin-left: 0.2%;">
          <label style="font:bolder;">New Station: <span class="required">*</span></label>
          <select id="station" name="station" required>
            <option value="">----------------------------------</option>
          </select>
        </div>
        <div class="form-group" style="margin-left: 1%;">
          <label style="font:bolder;">New Locacton: <span class="required">*</span></label>
          <input type="text" name="location" required placeholder="E.G House-Floor-Room">
        </div>

        <br>
        <div class="form-group" style="margin-left: 1%;">
          <label style="font:bolder;">HOD/Supervisor: <span class="required">*</span></label>
          <input type="text" name="hod_name" required>
        </div>
        <div class="form-group" style="margin-left: 1%;">
          <label style="font:bolder;">HOD/Supervisor P/NO.: <span class="required">*</span></label>
          <input type="text" name="hod_no" required>
        </div>
        <div class="form-group" style="margin-left: 1%;">
          <label style="font:bolder;">HOD/Supervisor Email: <span class="required">*</span></label>
          <input type="text" name="hod_email" required>
        </div>
      </div>

      <div class="form-group">
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-danger" id="label">Relocate Asset </button>
        </div>
      </div>
    </form>
  </div>

</div>
<script src="{% static 'asset/js/jquery-3.6.0.min.js' %}"></script>
<script>
  var $j = jQuery.noConflict();

  $j.ajax({
    type: 'GET',
    url: '/ict/region/',
    success: function (data) {
      $("#region").html(data);

    },
    error: function (error) {
      alert('Select Region!!!')
    }
  });

  $("#region").change(function () {
    var RegionId = $(this).val();

    $j.ajax({
      type: 'GET',
      url: '/ict/station/',
      data: {
        'RegionId': RegionId
      },
      success: function (data) {
        $("#station").html(data);

      },
      error: function (error) {
        alert('Select Region!!!')
      }
    });

  });
</script>

{% endblock %}