{% extends 'asset/base.html' %} {% load static %} {% block title %} Asset
Relocation {% endblock %} {% block body %}

<!-- change ownership form-->
<h4 class="text-center">Relocate Asset</h4>

<div class="container-fluid mb-5 pb-5">
  <div class="container-fluid d-flex justify-content-center">
    <div>{% include "asset/incl/form.html" %}</div>
  </div>
  <div class="container-fluid mt-2" style="border-top: 1px solid black">
    <h6 class="text-center my-2" style="color: brown">Current Location</h6>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Current Owner</th>
          <th>P/No.</th>
          <th>Region</th>
          <th>Station</th>
          <th>Location</th>
          <th>Dept/Division</th>
          <th>Section</th>
          <th>HOD</th>
          <th>Asset Type</th>
          <th>Asset S/NO.</th>
          <th>Comp Name</th>
          <th>Monitor S/NO.</th>
          <th>Date Assigned</th>
          <th>Condtion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{data.client.full_name}}</td>
          <td>{{data.client.staff_number}}</td>
          <td>{{data.region.name}}</td>
          <td>{{data.station.name}}</td>
          <td>{{data.client.location}}</td>
          <td>{{data.client.department}}</td>
          <td>{{data.client.section}}</td>
          <td>{{data.client.hod.hod_name}}</td>
          <td>{{data.assettype.name}}</td>
          <td>{{data.asset_serial}}</td>
          <td>{{data.cpu_name}}</td>
          <td>{{data.monitor.monitor_serial}}</td>
          <td>{{data.client.date_assigned}}</td>
          <td>{{data.condition}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <h6 class="text-center" style="color: brown">New Location</h6>
    <form
      method="post"
      action="{% url 'rel_back' %}"
      style="font-size: 12"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="row mx-1" style="border: 1px solid black">
        <div class="col-md-4">
          <div class="form-group">
            <input type="hidden" name="serial" value="{{data.asset_serial}}" />
          </div>

          <div class="form-group my-1 py-1">
            <label>Dept/Division: <span class="required">*</span></label>
            <input type="text" name="dept" required />
          </div>
          <div class="form-group my-1 py-1">
            <label>Section: <span class="required">*</span></label>
            <input type="text" name="section" required />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group my-1 py-1">
            <label for="asset-type" id="label"
              >New Region: <span class="required">*</span></label
            >
            <select id="region" name="region" required>
              <option value="">----------------------------------</option>
            </select>
          </div>
          <div class="form-group my-1 py-1">
            <label>New Station: <span class="required">*</span></label>
            <select id="station" name="station" required>
              <option value="">----------------------------------</option>
            </select>
          </div>
          <div class="form-group my-1 py-1">
            <label>New Locacton: <span class="required">*</span></label>
            <input
              type="text"
              name="location"
              required
              placeholder="E.G House-Floor-Room"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group my-1 py-1">
            <label>HOD/Supervisor: <span class="required">*</span></label>
            <input type="text" name="hod_name" required />
          </div>
          <div class="form-group my-1 py-1">
            <label>HOD/Supervisor P/NO.: <span class="required">*</span></label>
            <input type="text" name="hod_no" required />
          </div>
          <div class="form-group my-1 py-1">
            <label>HOD/Supervisor Email: <span class="required">*</span></label>
            <input type="text" name="hod_email" required />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-danger my-3">
            Relocate Asset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="{% static 'asset/js/jquery-3.6.0.min.js' %}"></script>
<script>
  jQuery(document).ready(function ($) {
    var $j = jQuery.noConflict();

    $j.ajax({
      type: "GET",
      url: "/ict/region/",
      success: function (data) {
        $("#region").html(data);
      },
      error: function (error) {
        alert("Select Region!!!");
      },
    });

    $("#region").change(function () {
      var RegionId = $(this).val();

      $j.ajax({
        type: "GET",
        url: "/ict/station/",
        data: {
          RegionId: RegionId,
        },
        success: function (data) {
          $("#station").html(data);
        },
        error: function (error) {
          alert("Select Region!!!");
        },
      });
    });
  });
</script>

{% endblock %}
