{% extends 'asset/base.html' %}
{% load static %}

{% block title %}
Asset Relocation
{% endblock %}

{% block body %}

<!-- change ownership form-->
<h4 class="heading">Relocate Asset</h4>

<div class="container-fluid">
  <div class="container-fluid d-flex justify-content-center">
    <form action="{% url 'rel' %}" method="post" class="form-inline" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="asset-type" id="label" required>Search By:</label>
      <select class="form-control" name="criteria" required>
        <option value="serial_no">Serial Number</option>
      </select>
      <label for="serial" id="label" required>Entry:</label>
      <input type="text" class="form-control" id="serial" name="entry" required>
      <button type="submit" class="btn btn-info" id="label">Search</button>
    </form>

  </div>
</div>


{% endblock %}