/* body styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(157, 163, 163);
}

.main-div {
  background-color: #fff;
  width: 50% !important;
  border-radius: 10px;
}

input {
  padding: 2px 5px !important;
  border-radius: 5px;
  width: 50% !important;
  border: 1px solid green !important;
}

input:hover {
  border: 1px solid red !important;
}

input:focus {
  border: 1px solid red !important;
}

label {
  margin: 0px 5px !important;
  font-weight: 500 !important;
  color: rgb(63, 59, 59);
}

ul {
  list-style-type: none !important;
}

li {
  color: red !important;
}

.sign-confirm {
  color: red !important;
}

.auth-header {
  width: 100% !important;
  padding: 15px !important;
  margin-top: -48px !important;
  color: green !important;
}
