{% extends 'asset/base.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block title %}

Change Password

{% endblock %}

{% block body %}

<h4 class="heading mt-1"> Change Password </h4>

<div class="main">

  <div class="change-ownership mt-4">
        <form  method="post"  enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group col-md-12 mb-0" style="color: rgb(101, 109, 106);  font-size: medium;">
            {{ form.old_password|as_crispy_field }}
          </div>
          <div class="form-group col-md-12 mb-0" style="color: rgb(101, 109, 106); font-size: medium;">
            {{ form.new_password1|as_crispy_field }}
          </div>
          <div class="form-group col-md-12 mb-0" style="color: rgb(101, 109, 106); font-size: medium;">
            {{ form.new_password2|as_crispy_field }}
          </div>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
  </div>

  </div>

{% endblock %}

