{% load crispy_forms_tags %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>Register</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'asset/image/fav.png' %}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'asset/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'asset/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'asset/css/animated.css' %}">

</head>

<body style="background-color: #435165;">

    <section class="static">
        <h1>Account Registration</h1>
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <label style="margin-right: 10px;">Staff Number</label><span
                          style="color: red;">*</span>
                    {{form.username }}
                </fieldset>
                <fieldset class="form-group">
                    <label style="margin-right: 10px;">Staff Name</label><span
                          style="color: red;">*</span>
                    {{form2.name}}
                </fieldset>
                <fieldset class="form-group">
                    <label style="margin-right: 10px;">Email</label><span
                          style="color: red;">*</span>
                    {{form.email }}
                </fieldset>
                <fieldset class="form-group" style="height: 30px; padding-top: 10px;">
                    <label style="margin-right: 10px;">Region</label><span
                          style="color: red;">*</span>
                    {{form2.region}}
                </fieldset>
                <fieldset class="form-group">
                    <label style="margin-right: 10px;">Password</label><span
                          style="color: red;">*</span>
                    {{form.password1 }}
                </fieldset>
                <fieldset class="form-group">
                    <label style="margin-right: 10px;">Password confirmation</label><span
                          style="color: red;">*</span>
                    {{form.password2}}
                </fieldset>
                <div class="form-group col-md-12 mb-0">
                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-success">
                        {{ error|escape }}
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-success">
                        {{ error|escape }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-lg-8 col-md-12" style="margin-top: 10px;">
                    <button class="btn black" type="submit">Register</button> <span>
                        <h5>Registered? <a href="{% url 'login' %}">Login here</a></h5>
                    </span>
                </div>

            </form>
        </div>
    </section>

</body>

</html>