{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} | IAMS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="shortcut icon"
      href="{% static 'staff/image/fav.png' %}"
      type="image/x-icon"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'staff/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'staff/css/main.css' %}" />
  </head>

  <body>
    <header class="w-100">
      <!--Intro bar-->
      <div class="nav-top">
        <div class="container-fluid d-flex justify-content-between">
          <div class="col-md-2" id="log-image">
            <img src="{% static 'staff/image/log2.png' %}" />
          </div>
          <div class="col-md-8" style="text-align: center">
            <h2 class="head">ICT ASSETS MANAGEMENT SYSTEM</h2>
          </div>
          <div class="col-md-2">
            <!-- Authentication tab -->
            <ul class="mt-2" style="list-style-type: none">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle btn btn-danger text-white"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{user.username}}
                </a>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink"
                  style="list-style-type: none"
                >
                  {% if user.profile.is_ict %}
                  <li>
                    <a class="dropdown-item" href="{% url 'home' %}"
                      >Admin Portal</a
                    >
                  </li>
                  {% endif %}
                  <li>
                    <a class="dropdown-item" href="{% url 'account_logout'%}"
                      >Log Out</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--Nav Bar-->
      <div class="nav-container" id="navbar"></div>

      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    </header>

    <!---Content block-->
    <div class="container-fluid">
      <div class="row d-flex">
        <div class="col-md-2 h-100 bg-dark">
          <ul class="m-2 list">
            <li class="my-2">
              <a class="py-2 link" href="{% url 'staff_home' %}">My Assets</a>
            </li>
            <li class="my-2">
              <a class="py-2 link" href="{% url 'my_asset_repairs'%}"
                >My Asset Repairs</a
              >
            </li>
            <li class="my-2">
              <a class="py-2 link" href="{% url 'my_asset_approvals'%}"
                >My Asset Approvals</a
              >
            </li>
            <li class="my-2">
              <a class="py-2 link" href="{% url 'service_request' %}"
                >Service Request</a
              >
            </li>
            <li class="my-2">
              <a class="py-2 link" href="{% url 'hod_approvals'%}"
                >HOD Approvals</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-10">
          <!-----Flash messages-->
          <div class="row" id="message">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              {% if messages %} {% for message in messages %}
              <div
                class="alert alert-{{message.tags}} alert-dismissible fade show"
                role="alert"
              >
                <p class="text-center">{{message}}</p>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>

              {% endfor %} {% endif %}
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="continer-fluid text-center">
            {% block body %}{% endblock %}
          </div>
        </div>
      </div>
    </div>

    {% comment %}
    <!-------Footer----->
    {% endcomment %}
    <footer id="footer">
      Copyright &copy; 2021 | AMOS NDONGA
      <br />
      +254702240787, amosndonga@gmail.com
      <br />
    </footer>
    <script src="{% static 'staff/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'staff/js/main.js' %}"></script>
  </body>
</html>
