/* body styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  max-width: 100vw;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  overflow-y: visible;
  max-width: 100vw;
  overflow-x: hidden;
  background: #f8f6f6;
}

/* Navbar */

#log-image {
  height: 60px;
  background: #f8f6f6;
}

.head {
  color: #ff0613;
  font-weight: 900;
  margin-top: 0.5%;
}

.nav-container {
  margin-top: 5px;
  margin-bottom: 2px;
  padding: 2px;
  background-color: #ff0613;
  width: 100%;
}

.sidebar {
  min-height: 90vh;
}

.mainbar {
  min-height: 90vh;
}

.link {
  color: white;
  height: 20px;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none;
}

.link:hover {
  color: black;
  text-decoration: none;
  background: white;
  font-weight: bold;
}

.dropdown-item {
  color: white;
  font-weight: bold;
}

.dropdown-item:hover {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.dropdown > .dropdown-menu {
  top: 200%;
  transition: 0.3s all ease-in-out;
}

.dropdown-menu {
  background-color: #ff0613;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  top: 100%;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(146, 25, 31);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* Pagination*/

.pagination {
  margin-left: 40%;
  font-weight: bold;
  text-align: center;
}

.required {
  color: red;
  font-size: 12px;
  font-weight: bolder;
}

#btn {
  display: inline-block;
}

.heading {
  color: #200b07;
  text-align: center;
  font: bolder;
  width: 58%;
  margin: 0 auto;
  text-decoration: underline;
}

tr,
th,
td {
  font-size: 14px !important;
}



/* footer */

#footer {
  position: absolute;
  bottom: 0;
  min-height: 10vh;
  text-align: center;
  color: white;
  background-color: #212529;
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
  width: 100vw;
}

/* Staff CSS */

.list {
  list-style: none;
}
