{% extends 'asset/base.html' %} {% load static %} {% block title %} Change
Ownership {% endblock %} {% block body %}

<!-- change ownership form-->
<h4 class="text-center">Change Ownership</h4>

<div class="container-fluid mt-2 mb-5 pb-5">
  <div class="container-fluid d-flex justify-content-center">
    <div>{% include "asset/ownership/form.html" %}</div>
  </div>
  <div class="container-fluid mt-3 pt-2" style="border-top: 1px solid black">
    <h6 class="text-center" style="color: brown">Current Owner</h6>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Current Owner</th>
          <th>P/NO</th>
          <th>HOD/Supervisor</th>
          <th>Region</th>
          <th>Station</th>
          <th>Location</th>
          <th>Dept/Division</th>
          <th>Section</th>
          <th>Asset Type</th>
          <th>Asset S/NO.</th>
          <th>Monitor S/NO.</th>
          <th>Asset Condition</th>
          <th>Date Assigned</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{data.client.full_name}}</td>
          <td>{{data.client.staff_number}}</td>
          <td>{{data.client.hod.hod_name}}</td>
          <td>{{data.region.name}}</td>
          <td>{{data.station.name}}</td>
          <td>{{data.client.location}}</td>
          <td>{{data.client.department}}</td>
          <td>{{data.client.section}}</td>
          <td>{{data.assettype.name}}</td>
          <td>{{data.asset_serial}}</td>
          <td>{{data.monitor.monitor_serial}}</td>
          <td>{{data.condition}}</td>
          <td>{{data.client.date_assigned}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h6 class="text-center" style="color: brown">New Owner</h6>
  <form
    method="POST"
    action="{% url 'change_back' %}"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="row mx-1" style="border: 1px solid black">
      <div class="col-md-4 my-1">
        <div class="form-group my-2">
          <input type="hidden" value="{{data.asset_pk}}" name="asset_pk" />
          <label>Full Name:<span class="required">*</span></label>
          <input type="text" name="owner" required />
        </div>
        <div class="form-group my-2">
          <label>P/No:<span class="required">*</span></label>
          <input type="text" name="number" required />
        </div>
        <div class="form-group my-2">
          <label>Email:<span class="required">*</span></label>
          <input type="email" name="email" required />
        </div>
      </div>
      <div class="col-md-4 my-1">
        <div class="form-group my-2">
          <label>Dept/Division:<span class="required">*</span></label>
          <input type="text" name="dept" required />
        </div>

        <div class="form-group my-2">
          <label>Section:<span class="required">*</span></label>
          <input type="text" name="section" required />
        </div>
        <div class="form-group my-2">
          <label>Current Location:<span class="required">*</span></label>
          <input
            type="text"
            name="location"
            placeholder="House-Floor-Room"
            required
          />
        </div>
      </div>
      <div class="col-md-4 my-1">
        <div class="form-group">
          <input
            type="hidden"
            name="owner_pk"
            value="{{data.client.client_pk}}"
          />
        </div>
        <div class="form-group">
          <input
            type="hidden"
            name="hod_pk"
            value="{{data.client.hod.hod_pk}}"
          />
        </div>
        <div class="form-group">
          <input
            type="hidden"
            name="asset_serial"
            value="{{data.asset_serial}}"
          />
        </div>
        <div class="form-group my-2">
          <label for="asset-type" id="label"
            >New Region:<span class="required">*</span></label
          >
          <select name="region" id="region" required>
            <option value="">----------------------------------</option>
          </select>
        </div>
        <div class="form-group my-2">
          <label>Station:<span class="required">*</span></label>
          <select name="station" id="station" required>
            <option value="">----------------------------------</option>
          </select>
        </div>
      </div>
      <div class="col-md-12 my-1">
        <div class="form-group my-2">
          <label
            >Reason for Changeownership:<span class="required">*</span></label
          >
          <input
            type="text"
            name="reason"
            required
            maxlength="200"
            size="100"
          />
        </div>
      </div>
    </div>
    <h6 class="text-center my-3" style="color: brown">HOD/Supervisor</h6>
    <div class="row mx-1" style="border: 1px solid black">
      <div class="col-md-4 my-1">
        <div class="form-group my-2">
          <label>Full Name:<span class="required">*</span></label>
          <input type="text" name="hod_name" required />
        </div>
      </div>
      <div class="col-md-4 my-1">
        <div class="form-group my-2">
          <label>P/No:<span class="required">*</span></label>
          <input type="text" name="hod_no" required />
        </div>
      </div>
      <div class="col-md-4 my-1">
        <div class="form-group my-2">
          <label>Email:<span class="required">*</span></label>
          <input type="email" name="hod_email" size="40" required />
        </div>
      </div>
    </div>
    <div class="form-group my-2">
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-danger my-3">
          Change Ownership
        </button>
      </div>
    </div>
  </form>
</div>
<script src="{% static 'asset/js/jquery-3.6.0.min.js' %}"></script>
<script>
  jQuery(document).ready(function ($) {
    var $j = jQuery.noConflict();

    $j.ajax({
      type: "GET",
      url: "/ict/region/",
      success: function (data) {
        $("#region").html(data);
      },
      error: function (error) {
        alert("Select Region!!!");
      },
    });

    $("#region").change(function () {
      var RegionId = $(this).val();

      $j.ajax({
        type: "GET",
        url: "/ict/station/",
        data: {
          RegionId: RegionId,
        },
        success: function (data) {
          $("#station").html(data);
        },
        error: function (error) {
          alert("Select Region!!!");
        },
      });
    });
  });
</script>

{% endblock %}
