{% extends 'asset/base.html' %} {% load static %} {% block title %} User
Assigned Assets {% endblock %} {% block body %}

<h4 class="text-center">User Assigned Assets</h4>

<div class="container-fluid">
  <div class="container-fluid d-flex justify-content-center">
    <div>{% include "asset/user_assets/form.html" %}</div>
  </div>
  <div
    class="container-fluid mt-3"
    id="user_assets"
    style="border-top: 1px solid black"
  >
    <div
      class="d-flex justify-content-around mt-2"
      style="border-bottom: 1px solid black"
    >
      <p>ICT-DOC-011</p>
      <h4>ICT ASSET DEPLOYMENT REPORT</h4>
      <p>Date: {{date}}</p>
    </div>
    <div class="container-fluid mt-2">
      <div class="container-fluid">
        <h5 class="text-center my-2" style="color: brown">Staff Details</h5>
        <table class="table table-sm table-bordered">
          <thead class="thead-light">
            <tr>
              <th>Full Names</th>
              <th>P/NO.</th>
              <th>Email</th>
              <th>Region</th>
              <th>Station</th>
              <th>Location</th>
              <th>Dept/Division</th>
              <th>Section</th>
              <th>HOD</th>
            </tr>
          </thead>
          <tbody>
            {% for d in data %}
            <tr>
              <td>{{d.client.full_name}}</td>
              <td>{{d.client.staff_number}}</td>
              <td>{{d.client.staff_email}}</td>
              <td>{{d.region.name}}</td>
              <td>{{d.station.name}}</td>
              <td>{{d.client.location}}</td>
              <td>{{d.client.department}}</td>
              <td>{{d.client.section}}</td>
              <td>{{d.client.hod.hod_name}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="container-fluid mt-2">
      <div class="container-fluid">
        <h5 class="text-center my-2" style="color: brown">
          ICT Assets Assigned
        </h5>
        <table class="table table-sm table-bordered">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Asset Type:</th>
              <th>Serial No.</th>
              <th>Model No.</th>
              <th>Asset Tag</th>
              <th>Monitor Model</th>
              <th>Monitor S/NO.</th>
              <th>Monitor Tag</th>
              <th>OS</th>
              <th>Condition</th>
              <th>Ip Address</th>
              <th>Extension</th>
              <th>Region</th>
              <th>Station</th>
              <th>Date Assigned</th>
            </tr>
          </thead>
          <tbody>
            {% for d in dat %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{d.assettype.name}}</td>
              <td>{{d.asset_serial}}</td>
              <td>{{d.asset_model}}</td>
              <td>{{d.asset_tag}}</td>
              <td>{{d.monitor.monitor_model}}</td>
              <td>{{d.monitor.monitor_serial}}</td>
              <td>{{d.monitor.monitor_tag}}</td>
              <td>{{d.os}}</td>
              <td>{{d.condition}}</td>
              <td>{{d.ip_address}}</td>
              <td>{{d.extension}}</td>
              <td>{{d.region.name}}</td>
              <td>{{d.station.name}}</td>
              <td>{{d.client.date_assigned}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="text-center my-4 py-4">
    <button class="btn btn-danger" id="download">Download Pdf</button>
  </div>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"
  integrity="sha512-YcsIPGdhPK4P/uRW6/sruonlYj+Q7UHWeKfTAkBW+g83NKM+jMJFJ4iAPfSnVp7BKD4dKMHmVSvICUbE/V1sSw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  window.onload = function () {
    document.getElementById("download").addEventListener("click", () => {
      const element = this.document.getElementById("user_assets");

      var opt = {
        margin: 2,
        filename: "User_assets.pdf",
        image: { type: "jpeg", quality: 1 },
        html2canvas: { scale: 8 },
        jsPDF: {
          unit: "mm",
          format: "a4",
          orientation: "landscape",
          putOnlyUsedFonts: true,
          compress: true,
        },
      };

      html2pdf().set(opt).from(element).save();
    });
  };
</script>

{% endblock %}
