{% extends 'asset/base.html' %} {% load static %} {% block title %} Replace
Monitor {% endblock %} {% block body %}

<!-- change ownership form-->
<h4 class="text-center">Replace Monitor</h4>

<div class="container-fluid mb-5 pb-5">
  <div class="d-flex justify-content-center">
    <div>{% include "asset/monitor/form.html" %}</div>
  </div>
  <div class="container-fluid mt-3 pt-2" style="border-top: 1px solid black">
    <h5 class="text-center" style="color: brown">Monitor Details</h5>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Asset Type</th>
          <th>Asset Model</th>
          <th>Asset Tag</th>
          <th>Asset S/NO.</th>
          <th>Monitor Model</th>
          <th>Monitor S/NO.</th>
          <th>Monitor Asset Tag</th>
          <th>Current Owner</th>
          <th>P/No.</th>
          <th>Date Assigned</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{data.assettype.name}}</td>
          <td>{{data.asset_model}}</td>
          <td>{{data.asset_tag}}</td>
          <td>{{data.asset_serial}}</td>
          <td>{{data.monitor.monitor_model}}</td>
          <td>{{data.monitor.monitor_serial}}</td>
          <td>{{data.monitor.monitor_tag}}</td>
          <td>{{data.client.full_name}}</td>
          <td>{{data.client.staff_number}}</td>
          <td>{{data.monitor.date_deployed}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container-fluid">
    <h5 class="text-center" style="color: brown">New Monitor Details</h5>
    <form
      method="post"
      action="{% url 'monitor_change' %}"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="row mx-1" style="border: 1px solid black">
        <div class="col-md-3 my-2">
          <div class="form-group">
            <input type="hidden" name="no" value="" />
          </div>
          <div class="form-group">
            <input type="hidden" name="id" value="{{data.asset_serial}}" />
          </div>
          <div class="form-group my-2">
            <label
              >Condition Old Monitor: <span class="required">*</span></label
            >
            <select name="condition" required>
              <option value="--------">----------------</option>
              <option value="Working">Working</option>
              <option value="Obsolete">Obsolete</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 my-1">
          <div class="form-group my-1">
            <label>New Monitor Model: <span class="required">*</span></label>
            <input type="text" name="model" required />
          </div>
        </div>
        <div class="col-md-3 my-1">
          <div class="form-group my-1">
            <label
              >New Monitor Serial NO.: <span class="required">*</span></label
            >
            <input type="text" name="serial" required />
          </div>
        </div>
        <div class="col-md-3 my-1">
          <div class="form-group my-1">
            <label>New Monitor Asset Tag</label>
            <input type="text" name="tag" />
          </div>
        </div>
        <div class="col-md-12 my-1">
          <div class="form-group my-2 w-100">
            <label>Reason for Change: <span class="required">*</span></label>
            <input type="text" name="reason" maxlength="100" size="100" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-danger my-4">
            Replace Monitor
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
