{% extends 'staff/base.html' %}
{% load static %}

{% block title %}

User Assets

{% endblock %}

{% block body %}

<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-sm table-bordered">
        <thead class="thead-light">
          <tr>
            <th>Staff Name</th>
            <th>Staff Number</th>
            <th>Email</th>
            <th>Region</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{loggedin.profile_2.name}}</td>
            <td>{{loggedin.username}}</td>
            <td>{{loggedin.email}}</td>
            <td>{{loggedin.profile_2.region}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-around mt-3 p-2"
       style="border-bottom: 1px solid black; border-top: 1px solid black;">
    <p>Number of Records: {{num}}</p>
    <h5>ICT ASSET OWNERSHIP REPORT</h5>
    <p>Date: {{date}}</p>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 ">
      <h4 class="mb-2 text-center" style="color:brown;">MY ASSETS</h4>
      <table class="table table-sm table-bordered">
        <thead class="thead-light">
          <tr style="font-size:11px;">
            <th>Asset Type:</th>
            <th>Serial No.</th>
            <th>Model No.</th>
            <th>Monitor Model</th>
            <th>Monitor S/NO.</th>
            <th>Condition</th>
            <th>Hod Approval</th>
            <th>User Approval</th>
            <th>ICT Approval</th>
            <th>Staff Number</th>
            <th>Region</th>
            <th>Station</th>
            <th>Date Assigned</th>
          </tr>
        </thead>
        <tbody>
          {% for d in dat %}
          <tr style="font-size:11px;">
            <td>{{d.assettype.name}}</td>
            <td>{{d.asset_serial}}</td>
            <td>{{d.asset_model}}</td>
            <td>{{d.monitor.monitor_model}}</td>
            <td>{{d.monitor.monitor_serial}}</td>
            <td>{{d.condition}}</td>
            <td>{{d.client.hod_approval}}</td>
            <td>{{d.client.accepted}}</td>
            <td>{{d.ict_approval}}</td>
            <td>{{d.client.staff_number}}</td>
            <td>{{d.region.name}}</td>
            <td>{{d.station.name}}</td>
            <td>{{d.client.date_assigned}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}