{% extends 'asset/base.html' %} {% load static %} {% block title %} Obsolete
Assets {% endblock %} {% block body %}

<h4 class="text-center my-2">Obsolete Assets</h4>

<div class="container-fluid my-2">
  <div class="container-fluid">
    <div>{% include "asset/obso_assets/form.html" %}</div>
  </div>
</div>

<div class="container-fluid">
  <h5 class="text-center mt-5">No records Found!!!</h5>
</div>

<script src="{% static 'asset/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'asset/js/apis.js' %}"></script>

{% endblock %}
