{% extends 'asset/base.html' %} {% load static %} {% block title %} Unassigned
Assets {% endblock %} {% block body %}

<!-- Search form-->
<h4 class="text-center my-3">Unassigned Assets</h4>

<div class="container-fluid my-3">
  <div class="container-fluid d-flex justify-content-center">
    <div>{% include "asset/free_assets/form.html" %}</div>
  </div>
  <div class="container-fluid" style="border-top: 1px solid black">
    <div class="d-flex justify-content-around m-2">
      <p>No. of Records: {{count}}</p>
      <h5>Unassigned ICT Assets</h5>
      <p>Date: {{date}}</p>
    </div>

    <div class="container-fluid">
      <table class="table table-bordered ml-1">
        <thead class="thead-light">
          <tr style="font-size: 11px">
            <th>Asset Type:</th>
            <th>Asset Serial</th>
            <th>Asset Model</th>
            <th>Asset Tag</th>
            <th>Mac Address</th>
            <th>Monitor Model</th>
            <th>Monitor Serial</th>
            <th>Monitor Tag</th>
            <th>IP Address</th>
            <th>Extension</th>
            <th>Region</th>
            <th>Station</th>
            <th>Current Owner</th>
            <th>P/NO</th>
            <th>Condition</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data %}
          <tr style="font-size: 11px">
            <td>{{d.assettype.name}}</td>
            <td>{{d.asset_serial}}</td>
            <td>{{d.asset_model}}</td>
            <td>{{d.asset_tag}}</td>
            <td>{{d.mac_address}}</td>
            <td>{{d.monitor.monitor_model}}</td>
            <td>{{d.monitor.monitor_serial}}</td>
            <td>{{d.monitor.monitor_tag}}</td>
            <td>{{d.ip_address}}</td>
            <td>{{d.extension}}</td>
            <td>{{d.region.name}}</td>
            <td>{{d.station.name}}</td>
            <td>{{d.client.full_name}}</td>
            <td>{{d.client.staff_number}}</td>
            <td>{{d.condition}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="{% static 'asset/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'asset/js/api.js' %}"></script>

{% endblock %}
