{% extends 'asset/base.html' %} {% load static %} {% block title %} Unassigned
Assets {% endblock %} {% block body %}

<!-- Search form-->
<h3 class="text-center my-3">Unassigned Assets</h3>

<div class="container-fluid my-3">
  <div class="container-fluid d-flex justify-content-center">
    <div>{% include "asset/free_assets/form.html" %}</div>
  </div>
</div>
<script src="{% static 'asset/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'asset/js/apis.js' %}"></script>

{% endblock %}
