{% extends 'asset/base.html' %} {% load static %} {% block title %} Declare
Asset Obsolete {% endblock %} {% block body %}

<!-- change ownership form-->
<h4 class="text-center">Declare Asset Obsolete</h4>

<div class="container-fluid">
  <div class="container-fluid d-flex justify-content-center">
    <div>{% include "asset/obsolete/form.html" %}</div>
  </div>
  <div class="container-fluid mt-3 pt-2" style="border-top: 1px solid black">
    <h4 class="text-center" style="color: brown">Asset Details</h4>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Asset Type</th>
          <th>Asset Model</th>
          <th>Asset Tag</th>
          <th>Asset S/NO.</th>
          <th>Region</th>
          <th>Station</th>
          <th>Current Owner</th>
          <th>P/NO.</th>
          <th>Working Condition</th>
          <th>Date Deployed</th>
          <th>Date Obsolete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{data.assettype.name}}</td>
          <td>{{data.asset_model}}</td>
          <td>{{data.asset_tag}}</td>
          <td>{{data.asset_serial}}</td>
          <td>{{data.region.name}}</td>
          <td>{{data.station.name}}</td>
          <td>{{data.client.full_name}}</td>
          <td>{{data.client.staff_number}}</td>
          <td>{{data.condition}}</td>
          <td>{{data.deployed_date}}</td>
          <td>{{data.obso_date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4 class="text-center" style="color: brown">Obsolete Details</h4>
  <div style="margin-left: 1%; margin-right: 1.5%">
    <form
      method="POST"
      action="{% url 'obso_backend' %}"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="row mx-1" style="border: 1px solid black">
        <div class="col-md-12 my-2">
          <div class="form-group">
            <input type="hidden" name="serial" value="{{data.asset_serial}}" />
          </div>
          <div class="form-group my-2">
            <label>Reason Obsolete: <span class="required">*</span></label>
            <input
              type="text"
              name="reason"
              maxlength="100"
              size="100"
              required
            />
          </div>
        </div>
      </div>
      <div class="form-group my-2">
        <div class="text-center">
          <button type="submit" class="btn btn-danger my-2">Declare Obsolete</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
