/* body styling */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  overflow-y: scroll;
  max-width: 100vw;
}

body {
  position: relative;
  min-height: 100vh;
  overflow-y: visible;
  max-width: 100vw;
  overflow-x: hidden;
  background: #f8f6f6;
}

.main {
  margin-bottom: 120px !important;
  width: 100vw;
  min-height: 90vh;
  text-align: center;
}

/* Navbar */

.nav-top {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#log-image {
  height: 60px;
  background: #f8f6f6;
}

.head {
  color: #ff0613;
  font-weight: 900;
  margin-top: 0.5%;
}

.nav-container {
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #ff0613;
  width: 100%;
}

.link {
  color: white;
  height: 20px;
  border-radius: 8px;
  padding: 10px;
  font-weight: 400;
  text-decoration: none;
}

.link-dropdown {
  font-weight: 400;
}

.link:hover {
  color: black;
  text-decoration: none;
  background: white;
  font-weight: 400;
}

.dropdown-item {
  color: white;
  font-weight: 400;
}

.dropdown-item:hover {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.dropdown > .dropdown-menu {
  top: 200%;
  transition: 0.3s all ease-in-out;
}

.dropdown-menu {
  background-color: #ff0613;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  top: 100%;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

input {
  padding-left: 5px !important;
}

/* Table Data */
label {
  font-size: 12px !important;
}

input,
option {
  font-size: 16px !important;
}
table,
tr,
th,
td {
  font-size: 11px !important;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(146, 25, 31);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* Printing a report */

@media print {
  body * {
    visibility: hidden;
  }
  #deployment_report,
  #deployment_report {
    margin-top: -15px !important;
  }
  #deployment_report,
  #deployment_report * {
    width: 100% !important;
    height: auto;
    visibility: visible;
  }
}

/* Pagination*/

.pagination {
  margin-left: 40%;
  font-weight: bold;
  text-align: center;
}

/* Asset deployment */

.required {
  color: red;
  font-size: 12px;
  font-weight: bolder;
}

/* Asset Movement*/

/* change ownership */

#btn {
  display: inline-block;
}

/* Asset Repairs*/

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0%;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.1);
  /* Black w/ opacity */
  padding-top: 70px;
  padding-left: 10%;
  padding-right: 10%;
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 2% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #2ed5a8;
  width: 100%;
  /* Could be more or less, depending on screen category */
  padding: 2%;
  height: auto;
}

/* The Close Button (x) */

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-weight: bold;
  font-size: 40px;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

.modal-content input[type="text"] {
  width: 20%;
  position: center;
  text-align: left;
  margin-top: 4%;
  display: inline-block;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .modal {
    width: 100%;
    margin-left: 0%;
    padding-right: 5%;
    padding-left: 5%;
  }
}

/* Asset reports */

@media print {
  body * {
    visibility: hidden;
  }
  #result_history,
  #result_history * {
    visibility: visible;
    margin-top: auto;
    margin-bottom: auto;
  }
  #print {
    visibility: hidden;
  }
}

/* footer */

#footer {
  position: absolute;
  bottom: 0;
  min-height: 10vh;
  text-align: center;
  color: white;
  background-color: #212529;
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
  width: 100vw;
}

/* Staff CSS */

.list {
  list-style: none;
}

#id_region {
  width: 300px;
  margin-left: 50px;
  line-height: 20px;
}
